@model PierreSweets.Models.Order

<h4>Add a new order</h4>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control multi-line" } })
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Treats)
    @Html.ListBox("TreatId", null, new { @class = "form-control"} )
  </div>

  <input type="submit" value="Create a new order" class="btn btn-success"/>
}