@model PierreSweets.Models.Flavor

<h4>Add a new flavor</h4>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
  </div>

    <input type="submit" value="Add a new flavor" class="btn btn-success"/>
}